@import "../bootstrap/mixin";
@import "../bootstrap/variables";
@import "../bootstrap/main";

.date-time-picker {
  color: var(--#{$prefix}theme-font-color) !important;
  background: var(--#{$prefix}theme-background-color) !important;
}

.cell.selected {
  color: var(--#{$prefix}button-text-color) !important;
  background-color: var(--#{$prefix}input-tabs-color) !important;
}

select.dummy-select {
  color: var(--#{$prefix}theme-font-color) !important;
  background-color: var(--#{$prefix}theme-background-color) !important;
}

html {
  height: 100%;
}

body {
  font-family: "微软雅黑" !important;
  background: var(--#{$prefix}agGrid-background-color);
  background-size: 100% 100%;
  min-height: 0px !important;
  color: var(--#{$prefix}theme-font-color) !important;
}

.outer-container {
  background-color: var(--#{$prefix}theme-background-color);
  height: 100%;
  padding: 10px;
  border: var(--#{$prefix}agGrid-border);
}

.svelte-lnhus4 {
  color: var(--#{$prefix}theme-font-color);
}

.link-style {
  outline: none !important;
  color: var(--#{$prefix}theme-link-color) !important;
}

.link-style:active {
  outline: none !important;
}

.bx--list-box--expanded {
  background-color: var(--#{$prefix}theme-input-background-color);
}

.bx--list-box:hover {
  background-color: var(--#{$prefix}theme-input-background-color);
}

.bx--list-box--expanded:hover {
  background-color: var(--#{$prefix}theme-input-background-color);
}

.bx--list-box__label {
  font-size: 14px !important;
  margin-right: 19px;
  color: var(--#{$prefix}theme-font-color);
}

.svelte-select:hover {
  border: 1px solid #08adaa !important;
  border-color: var(--#{$prefix}theme-color) !important;
}

.svelte-select-list {
  border-bottom: 1px solid #08adaa !important;
  border-left: 1px solid #08adaa !important;
  border-right: 1px solid #08adaa !important;
  border-color: var(--#{$prefix}theme-color) !important;
  border-radius: 0% !important;
  font-size: 14px;
  margin-top: -6px !important;
}

.item.hover:not(.active) {
  color: var(--#{$prefix}agGrid-header-text-color) !important;
  background-color: var(--#{$prefix}agGrid-select-hover) !important;
}

.item.svelte-15ynnp5.active:hover {
  color: var(--#{$prefix}theme-font-color) !important;
}

.item.active {
  color: var(--#{$prefix}theme-font-color) !important;
  background-color: #fff !important;
}

.pop-select {
  color: var(--#{$prefix}theme-font-color);
}

.label {
  height: 22px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconButton {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--#{$prefix}theme-color);
  margin-top: 10px;
}

.svelte-autocomplete-select-input:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.svelte-autocomplete-select-input:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
  cursor: pointer;
}

.svelte-autocomplete-select-option[aria-selected="true"] {
  background-color: var(--#{$prefix}theme-color);
  color: var(--#{$prefix}theme-font-color);
}

.svelte-autocomplete-select-option:hover {
  background-color: var(--#{$prefix}theme-color);
  color: var(--#{$prefix}theme-font-color);
}

.left {
  min-width: 150px;
  background-color: var(--#{$prefix}table-Tr-Td_first-child);
  color: var(--#{$prefix}theme-font-color);
  border-bottom: var(--#{$prefix}agGrid-border);
  align-items: center;
}

.container > div > div > div > .bx--text-area:focus {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
}

.remark-text-area > div > div > .bx--text-area:focus {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
}

.bx--checkbox:checked:disabled + .bx--checkbox-label::before {
  background-color: var(--#{$prefix}theme-color);
}

.bx--date-picker__input:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
  outline: 0px;
  outline-offset: 0px;
}

.flatpickr-day.today {
  color: var(--#{$prefix}theme-color);
}

.flatpickr-day.selected {
  background-color: var(--#{$prefix}theme-color);
  color: var(--#{$prefix}theme-font-color);
}

.flatpickr-day.selected:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.flatpickr-day.inRange {
  background-color: var(--#{$prefix}theme-color);
}

.flatpickr-day.inRange:focus {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
}

.flatpickr-day:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
  outline: none;
}

.textarea-border
  > .bx--form-item
  > .bx--text-area__wrapper
  > .bx--text-area:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
  outline-offset: 0px;
  outline: none;
}

.bx--text-area:active {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}input-border-color);
  outline-offset: 0px;
  outline: none;
}

.left-div {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #cfcfcf;
  border-bottom-color: var(--#{$prefix}input-border-color);
}

.modify-user {
  border: 1px solid #cfcfcf;
  border-color: var(--#{$prefix}input-border-color);
  margin-top: 5px;
}

.child-background-color > div:nth-child(2n + 1) {
  background-color: var(--#{$prefix}theme-input-background-color) !important;
}

.background_gray {
  background-color: var(--#{$prefix}table-Tr-Td_first-child) !important;
  color: var(--#{$prefix}theme-font-color);
  border-right: 1px solid #dedede;
  border-right-color: var(--#{$prefix}input-border-color);
  border-left: 1px solid #dedede;
  border-left-color: var(--#{$prefix}input-border-color) !important;
  border-bottom: 1px solid #dedede;
  border-bottom-color: var(--#{$prefix}input-border-color) !important;
  text-align: center;
}

.background_gray_border {
  background-color: var(--#{$prefix}table-Tr-Td_first-child) !important;
  color: var(--#{$prefix}theme-font-color);
  border: 1px solid #dedede !important;
  border-color: var(--#{$prefix}input-border-color) !important;
  border-collapse: collapse;
  text-align: center;
}

.border_right_left_top {
  border-right: 1px solid #dedede;
  border-right-color: var(--#{$prefix}input-border-color) !important;
  border-top: 1px solid #dedede;
  border-top-color: var(--#{$prefix}input-border-color) !important;
  border-bottom: 1px solid #dedede;
  border-bottom-color: var(--#{$prefix}input-border-color) !important;
}

.border_bottom_right {
  border-right: 1px solid #dedede;
  border-right-color: var(--#{$prefix}input-border-color) !important;
  border-bottom: 1px solid #dedede;
  border-bottom-color: var(--#{$prefix}input-border-color) !important;
}

.main-body {
  display: inline-block !important;
  overflow-x: auto !important;
  min-height: 300px !important;
}

.bx--link {
  color: var(--#{$prefix}theme-link-color);
  font-size: 14px;
  font-family: "微软雅黑" !important;
}

.bx--link:visited {
  color: var(--#{$prefix}theme-link-color);
}

.bx--link:hover {
  color: var(--#{$prefix}theme-link-color) !important;
}

.bx--link:active {
  outline: none;
  color: var(--#{$prefix}theme-link-color);
}

input {
  outline: none;
}

.bx--modal-container {
  min-width: 315px;
  overflow-x: auto;
  position: static;
  max-height: 650px;
  width: 50%;
}

.bx--data-table th {
  background-color: var(--#{$prefix}theme-background-color);
  color: #fff;
  font-size: 14px;
  border-right: 1px solid #e5e5e5 !important;
  text-align: center;
  position: sticky;
  top: 0px;
}

.bx--data-table th:last-of-type {
  position: sticky;
  width: max-content;
  height: 28px;
  line-height: 28px;
}

.bx--data-table th:first-of-type {
  position: sticky;
}

.input-box > div {
  width: auto !important;
}

textarea {
  background-color: var(--#{$prefix}agGrid-background-color) !important;
}

.bx--data-table--md td {
  font-size: 14px;
  background-color: #fafafa;
  border-right: 1px solid #e5e5e5;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.bx--table-header-label {
  background-color: var(--#{$prefix}theme-color);
  color: #fff;
  font-size: 14px;
  font-family: "微软雅黑" !important;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
}

.bx--data-table--md td p {
  font-size: 14px;
}

.bx--list-box:hover {
  background-color: var(--#{$prefix}agGrid-background-color);
}

.bx--list-box {
  outline: none;
  background-color: var(--#{$prefix}agGrid-background-color);
  height: 28px;
  line-height: 28px;
  border-bottom: none;
}

.bx--list-box:focus {
  outline: none;
  border: var(--#{$prefix}agGrid-border);
  border-color: var(--#{$prefix}theme-color);
}

.bx--select-input {
  height: 30px;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.bx--select-input:focus {
  outline: none;
  border: 1px solid #08adaa;
  background-color: #fff;
  border-color: var(--#{$prefix}theme-color);
}

.bx--select-input:hover {
  outline: none;
  border: 1px solid #08adaa;
  background-color: #fff;
  border-color: var(--#{$prefix}theme-color);
}

.bx--btn:focus {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--btn:hover {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--btn {
  outline: none;
  height: 28px;
  line-height: normal;
}

.bx--btn--ghost {
  color: var(--#{$prefix}theme-color);
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  margin-right: auto;
}

.bx--btn--ghost:hover {
  color: var(--#{$prefix}theme-color);
  background-color: var(--#{$prefix}agGrid-background-color);
}

.bx--btn--ghost:focus {
  box-shadow: inset 0 0 0 1px #08adaa, inset 0 0 0 2px #fff;
}

.bx--btn--sm {
  min-height: 10px;
}

.bx--btn--ghost .bx--btn__icon {
  margin-left: 0.2rem !important;
}

.bx--btn--secondary:focus {
  border-color: var(--#{$prefix}theme-color);
  box-shadow: inset 0 0 0 1px #119b9b, inset 0 0 0 2px #fff;
}

.bx--btn--tertiary:focus {
  border-color: var(--#{$prefix}theme-color);
  box-shadow: inset 0 0 0 1px #119b9b, inset 0 0 0 2px #fff;
}

.bx--btn__icon {
  margin: 0px;
}

.bx--pagination-nav__page:hover {
  outline: none;
  background-color: var(--#{$prefix}agGrid-background-color);
  color: #525252;
}

.bx--pagination-nav__page:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--select-option {
  background-color: #fff;
  outline-color: var(--#{$prefix}theme-color);
}

.bx--list-box__menu-item {
  background-color: var(--#{$prefix}agGrid-background-color);
  height: 28px;
  line-height: 28px;
}

.bx--list-box__menu-item--active.bx--list-box__menu-item--highlighted {
  background-color: var(--#{$prefix}agGrid-select-hover);
  color: var(--#{$prefix}theme-color) !important;
}

.multiselect > div > div > div > .bx--list-box__menu-item:hover {
  background-color: var(--#{$prefix}agGrid-select-hover);
  color: var(--#{$prefix}theme-font-color) !important;
  width: 100% !important;
}

.bx--list-box__menu-item__option:hover {
  background-color: var(--#{$prefix}agGrid-select-hover);
  color: var(--#{$prefix}theme-font-color) !important;
}

.bx--list-box__menu-item:hover {
  color: var(--#{$prefix}theme-font-color) !important;
}

.bx--list-box__menu-item__option {
  color: var(--#{$prefix}theme-font-color);
  height: 28px;
  border-top: none;
  width: 406px;
  background-color: var(--#{$prefix}select-option-bg);
}

.bx--checkbox-label {
  height: 28px;
  line-height: 28px;
  padding-top: 0px;
  border: 1px soild #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.bx--checkbox-label::before {
  margin-top: 3px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.bx--checkbox--inline {
  margin-left: -2px;
}

.bx--pagination-nav__page:not(.bx--pagination-nav__page--direction)::after {
  background-color: var(--#{$prefix}agGrid-background-color);
}

.root {
  resize: none !important;
  overflow-y: hidden;
  outline: none;
  font-family: "微软雅黑" !important;
  font-size: 14px;
  background-color: var(--#{$prefix}agGrid-background-color);
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
  width: 400px !important;
  padding-left: 4px;
  padding-right: 4px;
}

.root:focus {
  background-color: #fff;
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--text-input {
  outline: none;
  height: 30px;
  border: none;
  background-color: var(--#{$prefix}agGrid-background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: content-box;
  font-size: 14px;
  font-family: "微软雅黑" !important;
  color: var(--#{$prefix}theme-font-color);
}

.bx--text-input:hover {
  background-color: var(--#{$prefix}agGrid-background-color);
  outline: none;
  border: none;
  border-color: var(--#{$prefix}theme-color);
}

.bx--text-input:focus {
  background-color: var(--#{$prefix}agGrid-background-color);
  outline: none;
  border-color: var(--#{$prefix}theme-color);
}

.alert-box > .bx--modal-container > .bx--modal-header {
  background-color: var(--#{$prefix}theme-color);
}

.input-outer-border {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
  cursor: text;
}

.input-outer-border-hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.input-outer-box {
  padding: 0px 2px;
}

.input-outer-border:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.top-box {
  width: 100%;
  height: 50px;
  border-bottom: var(--#{$prefix}agGrid-border);
  padding: 10px 0px;
}

.data-table {
  margin-top: 10px;
  height: 445px;
  margin-bottom: 10px;
  overflow-y: auto;
  border: var(--#{$prefix}agGrid-border);
}

.data-table > .bx--data-table-container > .bx--data-table tbody > tr > td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: var(--#{$prefix}agGrid-border);
}

.zindex-8 {
  z-index: 8;
}

.zindex-9 {
  z-index: 9;
}

.zindex-10 {
  z-index: 10;
}

.left_text {
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.transparent-background {
  background-color: var(--#{$prefix}theme-input-background-color);
  border: var(--#{$prefix}agGrid-border);
}

.input-place-holder {
  position: absolute;
  line-height: 13px !important;
  background: linear-gradient(rgba(255, 255, 255, 0) 55%, white 55%);
  z-index: 9;
  margin-left: 5px !important;
  padding: 0 10px 0 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.bx--btn--ghost.bx--btn--icon-only
  .bx--btn__icon
  path:not([data-icon-path]):not([fill="none"]),
.bx--btn--ghost.bx--btn--icon-only .bx--btn__icon {
  fill: #161616;
}

.bx--btn--ghost.bx--btn--icon-only[disabled]
  .bx--btn__icon
  path:not([data-icon-path]):not([fill="none"]),
.bx--btn--ghost.bx--btn--icon-only[disabled] .bx--btn__icon,
.bx--btn.bx--btn--icon-only.bx--btn--ghost[disabled]:hover .bx--btn__icon {
  fill: #8d8d8d;
}

.bx--pagination-nav__page.bx--pagination-nav__page--active {
  background-color: initial;
  color: #525252;
  font-weight: 600;
}

.bx--pagination-nav__page--active + .bx--pagination-nav__page::after,
.bx--pagination-nav__page.bx--pagination-nav__page--active::after {
  left: calc(50% - 0.5rem);
  width: 1rem;
  opacity: 1;
}

.input-place-holder-move {
  top: 0;
  font-size: 14px;
  transform: translateY(-55%);
}

.input-place-holder:hover + .input-outer-border {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--modal-header {
  background-color: var(--#{$prefix}popup-header);
  margin-bottom: 0px;
  padding-bottom: 8px;
  padding-top: 13px;
  height: 50px;
  cursor: move;
}

.bx--modal.is-visible .bx--modal-container {
  position: absolute;
  top: auto;
  left: auto;
}

.bx--modal-header__heading {
  color: #fff;
  font-size: 18px;
  font-family: "微软雅黑" !important;
}

.bx--modal-content {
  background-color: var(--#{$prefix}agGrid-background-color);
  margin-bottom: 0px;
  justify-content: center;
  font-size: 14px;
  font-family: "微软雅黑" !important;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--#{$prefix}theme-font-color);
  border: var(--#{$prefix}agGrid-border);
}

.main-text {
  font-size: 14px;
}

.margin-left-Max {
  margin-left: 50px;
}

.margin-left-s {
  margin-left: 3px;
}
.row-height {
  height: 35px !important;
}
.callout {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 2px;
  background-color: #fff;
  color: var(--#{$prefix}theme-font-color);
  font-size: 14px;
  font-family: "微软雅黑" !important;
}

.bx--btn.bx--btn--icon-only.bx--tooltip__trigger {
  width: 24px;
  height: 24px !important;
  line-height: 24px;
  min-height: 24px;
  padding: 0;
}

.callout-padding {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: var(--#{$prefix}agGrid-border);
  border-radius: 2px;
  color: var(--#{$prefix}theme-font-color);
  font-size: 14px;
  font-family: "微软雅黑" !important;
}

option {
  min-height: 3rem;
  border: none;
}

.margin-button-x {
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 10px;
}

.margin-botton {
  margin-bottom: 5px;
}

.agree-button {
  background-color: var(--#{$prefix}theme-background-color);
  color: var(--#{$prefix}theme-font-color);
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 10px;
  border: none;
  margin-left: 110px;
}

.agree-button:hover {
  background-color: var(--#{$prefix}theme-background-color);
  border: none;
}

.opt-button {
  background-color: var(--#{$prefix}theme-background-color);
  color: var(--#{$prefix}theme-font-color);
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: none;
  margin-left: 85px;
}

.right-button {
  margin-right: 85px;
  margin-left: 0px;
}

.opt-button:hover {
  background-color: var(--#{$prefix}theme-background-color);
  border: none;
}

.background_white {
  border: 1px solid #161616;
}

.margin_right {
  margin-right: 5px;
}

.btn-margin-left {
  margin-left: 5px;
}

.padding_right_left {
  padding-right: 5px;
  padding-left: 5px;
}

.padding_right_left_bottom {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.margin_top {
  margin-top: 5px;
}
.margin_top_bg {
  margin-top: 18px;
}

.margin_bottom {
  margin-bottom: 5px;
}
.margin_bottom_s {
  margin-bottom: 4px !important;
}
.margin_top_s {
  margin-top: 4px;
}

.padding-normal {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.modify-text {
  font-size: 14px;
  font-family: "微软雅黑" !important;
  margin-bottom: 3px;
  margin-left: 2px;
  color: #525252;
}

.modify-line {
  width: 884px;
  background-color: #08adaa;
  margin-bottom: 1px;
}
.bx--list-box__field {
  border: 1px solid #cfcfcf;
  border-color: var(--#{$prefix}input-border-color);
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.bx--list-box__field:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--list-box__field:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
  outline: none;
}

.bx--label {
  margin-bottom: 0;
}

.bx--modal-close__icon {
  fill: #fff;
  width: 25px;
  height: 25px;
  border: none;
}

.bx--modal-close {
  border: none;
  height: 50px;
  width: 50px;
}

.bx--modal-close:hover {
  background-color: #e5e5e5;
}

.background {
  background-color: var(--#{$prefix}table-Tr-Td_first-child);
  border-left: 1px solid #cfcfcf;
  border-left-color: var(--#{$prefix}input-border-color);
  border-right: 1px solid #cfcfcf;
  border-right-color: var(--#{$prefix}input-border-color);
  border-bottom: 1px solid #cfcfcf;
  border-bottom-color: var(--#{$prefix}input-border-color);
}

.background_border {
  background-color: var(--#{$prefix}table-Tr-Td_first-child);
  border: 1px solid #cfcfcf;
  border-color: var(--#{$prefix}input-border-color);
}

.border_right_bottom_top {
  border-right: 1px solid #cfcfcf;
  border-right-color: var(--#{$prefix}input-border-color);
  border-top: 1px solid #cfcfcf;
  border-top-color: var(--#{$prefix}input-border-color);
  border-bottom: 1px solid #cfcfcf;
  border-bottom-color: var(--#{$prefix}input-border-color);
}

.border_right_top {
  border-right: 1px solid #cfcfcf;
  border-right-color: var(--#{$prefix}input-border-color);
  border-top: 1px solid #cfcfcf;
  border-top-color: var(--#{$prefix}input-border-color);
}

.border_right_bottom {
  border-right: 1px solid #cfcfcf;
  border-right-color: var(--#{$prefix}input-border-color);
  border-bottom: 1px solid #cfcfcf;
  border-bottom-color: var(--#{$prefix}input-border-color);
}

.border_right {
  border-right: 1px solid #cfcfcf;
  border-right-color: var(--#{$prefix}input-border-color);
}

.border_bottom {
  border: 1px solid #cfcfcf;
  border-bottom-color: var(--#{$prefix}input-border-color);
  border-bottom: 0px;
}

.full-height {
  height: 100% !important;
}

.bx--data-table th.bx--table-column-checkbox {
  background-color: var(--#{$prefix}theme-background-color);
}

.flatpickr-day.today.selected {
  outline: 2px solid #08adaa;
  outline-color: var(--#{$prefix}theme-color);
  border-color: var(--#{$prefix}theme-color);
  background-color: var(--#{$prefix}theme-color);
  color: #fff;
}

.flatpickr-day.endRange:hover {
  outline: 2px solid #08adaa;
  outline-color: var(--#{$prefix}theme-color);
  background-color: var(--#{$prefix}theme-background-color);
  border-color: var(--#{$prefix}theme-color);
  outline-offset: -2px;
  color: #fff;
}

.flatpickr-day.endRange.inRange.selected {
  outline: 2px solid #08adaa;
  background-color: var(--#{$prefix}theme-background-color);
  outline-color: var(--#{$prefix}theme-color);
}

.flatpickr-day.selected {
  background-color: var(--#{$prefix}theme-background-color);
}

.flatpickr-day.inRange {
  background-color: var(--#{$prefix}theme-background-color);
}

.flatpickr-day.today {
  color: #0a0a0a;
}

.flatpickr-day.today::after {
  background-color: var(--#{$prefix}theme-background-color);
}

.bx--inline-notification.bx--inline-notification--low-contrast a:focus {
  outline: 1px solid #08adaa;
  outline-color: var(--#{$prefix}theme-color);
}

.flatpickr-day:focus {
  outline: 2px solid #08adaa;
  outline-offset: -2px;
  outline-color: var(--#{$prefix}theme-color);
}

.flatpickr-calendar.open:focus {
  outline: 1px solid #08adaa;
  outline-color: var(--#{$prefix}theme-color);
}

.flatpickr-calendar.open {
  box-shadow: 0 0 0 1px rgb(202 202 202);
  background-color: #fff;
  margin-top: 4px;
}

.bx--date-picker__input {
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
  background-color: #ffffff;
}

.bx--checkbox:focus + .bx--checkbox-label::before {
  outline: 0px;
  outline-offset: 0px;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.bx--checkbox:checked + .bx--checkbox-label::before {
  background-color: var(--#{$prefix}checkbox-checked-bg) !important;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
}

.bx--checkbox:indeterminate + .bx--checkbox-label::before {
  background-color: var(--#{$prefix}checkbox-checked-bg);
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
}

.bx--checkbox:checked:focus + .bx--checkbox-label::before {
  outline: 0px;
  outline-offset: 0px;
  background-color: var(--#{$prefix}theme-background-color);
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
}

.bx--data-table thead th.bx--table-column-checkbox {
  width: 34px;
  padding-right: 8px;
  padding-left: 8px;
  z-index: 1;
}

.bx--data-table tbody td.bx--table-column-checkbox {
  width: 34px;
  padding-right: 8px;
  padding-left: 8px;
}

.iux-waiting-shadow {
  /* 此样式做为选择器 不允许复用 */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  opacity: 0;
  z-index: 10000;
}

.iux-waiting-img {
  /* 此样式做为选择器 不允许复用 */
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.display-none {
  display: none !important;
}

body.waiting * {
  cursor: default;
}

.loading-text {
  font-size: 14px;
  color: #3c8ae0;
}

.loading-pointer {
  margin: 5px auto;
  width: 18px;
  height: 18px;
  border: 4px solid #1b6bd3;
  border-color: var(--#{$prefix}theme-link-color);
  border-bottom: #93d3f2 4px solid;
  border-bottom-color: var(--#{$prefix}agGrid-header-bg-color);
  border-radius: 50%;
  animation: load 1.1s infinite linear;
  -webkit-animation: load 1.1s infinite linear;
  -moz-animation: load 1.1s infinite linear;
  -o-animation: load 1.1s infinite linear;
}

.bx--data-table--md thead tr,
.bx--data-table--md tbody tr,
.bx--data-table--md tbody tr th {
  height: 0rem;
  cursor: pointer;
}

.bx--list-box__menu-icon {
  right: 0rem;
}

.bx--select__arrow {
  position: absolute;
  height: auto;
  top: 2px;
  right: 1rem;
}

.li-style {
  height: 25px;
  line-height: 25px;
  background-color: #fff;
  cursor: pointer;
  padding-left: 17px;
}

.li-style:hover {
  background-color: var(--#{$prefix}theme-background-color);
  color: var(--#{$prefix}theme-font-color);
}

.li-selected-style {
  color: var(--#{$prefix}theme-color);
  background-color: #fff;
}

.bx--data-table tbody tr td:nth-child(n + 3) {
  text-align: center;
}

.bx--data-table tbody tr td:nth-child(10) {
  text-align: left !important;
}

.bx--data-table tbody tr td:nth-child(9) {
  text-align: left !important;
}

/* outline */

.bx--pagination-nav__page:focus {
  border: 0px;
}

.bx--data-table-container {
  padding-top: 0;
}

.bx--date-picker--range .bx--date-picker__input {
  height: 30px;
}

.selectContainer.focused.svelte-17l1npl.svelte-17l1npl {
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
  cursor: pointer;
}

.selectContainer.focused.svelte-17l1npl.svelte-17l1npl:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.selectContainer.svelte-17l1npl.svelte-17l1npl {
  height: 24px;
  outline: none;
  border-radius: 0%;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
}

.value-container {
  padding: 0px !important;
}

.svelte-select {
  width: 100% !important;
}

.selectContainer.svelte-17l1npl input.svelte-17l1npl {
  outline: none;
  height: 24px;
  line-height: 24px;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
}

.listContainer.svelte-1uyqfml {
  min-width: none;
  border-radius: 0%;
}

.item.first.svelte-3e0qet {
  border-radius: 0%;
}

.item.svelte-3e0qet {
  border-radius: 0%;
  height: 26px;
  line-height: 26px;
  width: 100%;
  padding-left: 17px;
  cursor: pointer;
}

.item.hover.svelte-3e0qet:not(.active) {
  background-color: var(--#{$prefix}theme-background-color);
  color: var(--#{$prefix}theme-font-color);
}

.item.active.svelte-3e0qet {
  color: var(--#{$prefix}theme-font-color);
  background-color: var(--#{$prefix}theme-background-color);
}

.svelte-lnhus4 {
  height: auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  display: block;
  margin-left: 2px;
}

.listContainer {
  z-index: 2000 !important;
}

.ellipsis {
  /* display: block; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.svelte-17l1npl {
  cursor: pointer !important;
}

.bx--data-table--md .bx--table-header-label {
  padding-top: 0px;
  padding-bottom: 0px;
}

.selectedItem {
  font-size: 14px;
}

.alert-box > div {
  height: auto;
  width: auto;
}

.option prev disabled {
  height: 24px;
}

.option.number.active {
  color: var(--#{$prefix}theme-color);
}

.svelte-select.focused {
  border: var(--#{$prefix}agGrid-border) !important;
  border-color: var(--#{$prefix}theme-color) !important;
}

.option.number:hover {
  cursor: pointer;
}

.option.number {
  margin-left: 10px;
}

.option.prev {
  position: absolute;
  margin-top: -5px;
  margin-left: -15px;
}

.option.prev:hover {
  cursor: pointer;
}

.option.next {
  position: absolute;
  margin-top: -5px;
}

.option.next:hover {
  cursor: pointer;
}

.option.ellipsis {
  cursor: pointer;
}

.dataTable > table > tbody > tr > td > p {
  height: 27px;
  line-height: 29px;
}

.ul-top .listContainer.svelte-1uyqfml {
  top: 26px !important;
}

/* .main-minWidth {
  min-width: 1200px;
} */

.main-advancedSelect {
  /* max-width: 450px; */
  min-width: 200px;
  position: relative;
}

.itemStyle {
  width: 130px !important;
  margin-bottom: 3px;
  margin-right: 5px !important;
  position: relative;
}

.item.svelte-15ynnp5 {
  height: 24px !important;
  line-height: 24px !important;
}

.item.svelte-15ynnp5.active {
  background-color: var(--#{$prefix}agGrid-select-hover) !important;
  color: var(--#{$prefix}theme-font-color) !important;
}

.item.svelte-15ynnp5:hover {
  background-color: var(--#{$prefix}agGrid-select-hover) !important;
  color: var(--#{$prefix}theme-font-color) !important;
}

.item.svelte-15ynnp5.heightlight {
  background-color: var(--#{$prefix}agGrid-select-hover) !important;
  color: var(--#{$prefix}theme-font-color) !important;
}

.dataTable-width {
  overflow-y: auto;
}

.link-color {
  width: 100%;
  color: var(--#{$prefix}theme-color) !important;
  outline: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.main-bottom {
  min-width: 1100px;
  height: 30px;
  line-height: 30px;
}

.pageText {
  margin-right: 15px;
  height: 30px;
  line-height: 30px;
}

.notFind-box {
  padding: 30px 46%;
  height: 200px !important;
  border: var(--#{$prefix}agGrid-border);
}

.notFind-text {
  color: var(--#{$prefix}theme-font-color);
  min-width: 500px;
  overflow: auto;
}

.modifyTop {
  height: 28px;
  line-height: 28px;
  margin-bottom: 0px;
}

.modifyLableStyle {
  min-width: 150px;
  line-height: 28px;
  height: 28px;
}

.textColor {
  color: var(--#{$prefix}theme-font-color);
}

.typeLable {
  width: 100% !important;
  line-height: 28px;
  height: 28px;
}

.typeText {
  padding-left: 5px;
  display: block;
  width: 100%;
  text-align: center;
}

.popupInput {
  height: 30px;
}

.popupText {
  padding-left: 5px;
  display: block;
  width: 100%;
}

.popTextHeight {
  line-height: 30px;
  height: 30px;
}

.advancedSelectPadding {
  padding: 2px 5px;
}

.advancedBox {
  width: 100%;
  height: 24px;
  line-height: 24px;
  position: relative;
}

.multiselectPadding {
  padding: 2px 5px;
}

.boxBlock {
  display: block !important;
}

.popupBox {
  z-index: 1 !important;
  border: 0px;
}

.popup-position {
  position: static;
}

.popupLink {
  width: 300px;
  display: block;
  height: 24px;
  line-height: 24px;
}

.popupLable {
  width: 100%;
  display: block;
}

.JtracBox {
  display: block;
  border: 0px;
}

.addPopupHeight {
  height: 175px !important;
}

.addPopupLabel {
  width: 100%;
  border: 1px solid lightgrey;
  padding-left: 5px;
  height: 30px;
  text-align: left;
  margin-left: 0px;
}

.add-popup-box {
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: auto;
}

.advancedBox > div > input {
  border: 0px !important;
}

.advancedBox > div > input:hover {
  border: 1px solid #08adaa !important;
  border-color: var(--#{$prefix}border-color) !important;
}

.advancedBox > div > input:focus {
  border: 1px solid #08adaa !important;
  border-color: var(--#{$prefix}border-color) !important;
}

.add-padding-bottom-top {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.multiselect > div > div > div > .bx--tag {
  height: 1.1rem;
  min-height: 0px;
}

.bx--list-box__menu > div > div > div > label:hover::before {
  border: 1px solid #fff;
}

.bx--tag--high-contrast {
  background-color: var(--#{$prefix}theme-background-color);
}

@keyframes load {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes load {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes load {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

.autoComplete {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.autoComplete:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.detail-bottom-margin {
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
  height: 45px;
  min-height: 45px;
  padding-left: 20px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: border-box;
}

.detail-bottom-margin:focus {
  outline: none;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.detail-bottom-margin:hover {
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.textArea-bottom-margin {
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  min-height: 45px;
  height: 100px;
  padding-left: 20px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: border-box;
}

.textArea-bottom-margin:focus {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.textArea-bottom-margin:hover {
  border: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.index-textArea-bottom-margin {
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
  min-height: 30px;
  height: 150px;
  padding-left: 20px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: border-box;
  z-index: 10;
  width: 100% !important;
  font-size: 14px;
  font-family: "微软雅黑" !important;
  color: var(--#{$prefix}theme-font-color);
  background-color: var(--#{$prefix}theme-input-background-color);
}

.index-textArea-bottom-margin:focus {
  outline: none;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.index-textArea-bottom-margin:hover {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.bx--text-area:active {
  outline: none;
  outline-offset: 0px;
}

.bx--text-area {
  font-family: "微软雅黑" !important;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color);
}

.fileDetail_content {
  width: 450px;
  line-height: 30px;
  padding-left: 21px;
}

.numInputWrapper .arrowUp:hover::after,
.numInputWrapper .arrowDown:hover::after {
  border-top-color: var(--#{$prefix}border-color);
  border-bottom-color: var(--#{$prefix}border-color);
}

.numInputWrapper .arrowUp:active::after,
.numInputWrapper .arrowDown:active::after {
  border-top-color: var(--#{$prefix}border-color);
  border-bottom-color: var(--#{$prefix}border-color);
}

.bx--form-item.bx--checkbox-wrapper {
  margin-top: 2px;
}

.bx--form-item.bx--checkbox-wrapper:first-of-type {
  margin-top: 2px;
}

.bx--form-item.bx--checkbox-wrapper:last-of-type {
  margin-bottom: 0.25rem;
}

.numInputWrapper .numInput:focus {
  outline: 1px solid #08adaa;
  outline-color: var(--#{$prefix}theme-color);
}

.numInputWrapper .numInput {
  background-color: #fff;
}

.bx--link:focus {
  outline: 1px solid #08adaa;
  outline-color: var(--#{$prefix}theme-color);
}

.flatpickr-current-month .cur-month:hover {
  background-color: #fff;
}

.bx--checkbox-label-text {
  font-size: 14px;
}

.bx--date-picker--range .bx--date-picker__input {
  font-size: 14px;
}

.bx--date-picker--range > .bx--date-picker-container:first-child {
  margin-right: 4px;
}

//---------ag-Grid-style---------
.center-aligned
  > .ag-header-cell-comp-wrapper
  > .ag-cell-label-container
  > .ag-header-cell-label {
  justify-content: center;
}

.ag-header {
  color: var(--#{$prefix}agGrid-header-text-color);
  background-color: var(--#{$prefix}agGrid-header-bg-color);
  border-right: 1px solid #efefef;
  border-right-color: var(--#{$prefix}agGrid-border-color);
}

.cell-center-align {
  text-align: center;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cell-left-align {
  text-align: left;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.cell-border {
  border-bottom: 1px solid #e6e6e6;
  border-bottom-color: var(--#{$prefix}agGrid-border-color);
}

.ag-ltr .ag-cell {
  border-right: 1px solid #e6e6e6;
  border-right-color: var(--#{$prefix}agGrid-border-color);
}

.cell-left-align > div > span > span > p {
  font-family: "微软雅黑";
  font-size: 14px;
  padding-right: 0px;
}

.cell-center-align > div > span > span > p {
  font-family: "微软雅黑";
  font-size: 14px;
  padding-right: 0px;
}

.ag-row-hover {
  background-color: var(--#{$prefix}agGrid-select-hover);
  cursor: pointer;
}

.ag-cell-wrapper {
  width: 100%;
}

.ag-header-row:not(.ag-header-row-column-group) {
  overflow: visible;
}

.ag-header-cell {
  display: inline-flex;
  align-items: center;
  position: absolute;
  height: 100%;
  overflow: visible;
}

.status-color > div > span > span > p {
  color: var(--status-color);
}

.ag-checkbox-input-wrapper::after {
  margin-left: 30;
  font-size: 20px;
}

.ag-cell-value > span > .svelte-select {
  min-height: 20px !important;
}

.cell-center-align > div > .ag-cell-value > span > .checkBoxRenderer {
  align-items: center;
}

div > .ag-cell-value > span > .checkBoxRenderer {
  align-items: center;
}

.ag-header-cell-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ag-body-viewport {
  width: 100% !important;
}

.ag-body-vertical-scroll {
  display: none;
}

.ag-row {
  position: relative !important;
  transform: none !important;
}

.ag-center-cols-viewport {
  overflow-x: hidden !important;
}

.ag-body-horizontal-scroll-viewport {
  overflow-x: auto;
}

.hor-left {
  text-align: left;
}

.hor-right {
  text-align: right;
}

.hor-center {
  text-align: center;
}

.cell-image > .ag-cell-wrapper > .ag-cell-value > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-absolute {
  position: absolute;
  z-index: 2000;
}

.ag-body-viewport.ag-layout-normal {
  overflow-y: auto;
  border-top: 1px solid #e6e6e6;
  border-top-color: var(--#{$prefix}agGrid-border-color);
}

.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link,
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link:focus,
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link:active {
  font-size: 14px;
  font-weight: 500;
  line-height: inherit;
  text-align: center;
  color: var(--#{$prefix}theme-font-color) !important;
  //background-color: #08adaa;
  background-color: var(--#{$prefix}theme-background-color);
  border-color: var(--#{$prefix}input-tabs_border-color) !important;
}

.bx--tabs__nav-item {
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  line-height: inherit;
  text-align: center;
}

a.bx--tabs__nav-link {
  width: 90px;
  padding: 0.75rem 1rem 0.5rem;
  margin: 0;
  line-height: inherit;
  text-align: center;
  color: var(--#{$prefix}input-tabs-color) !important;
  text-align: center;
  border-color: var(--#{$prefix}input-border-color) !important;
}

a.bx--tabs__nav-link:focus,
a.bx--tabs__nav-link:active {
  outline: none;
  width: 100%;
  margin: 0;
}

.invalid.svelte-1bsxr9h {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}border-color);
  background-color: #fff;
}

.invalid.svelte-1bsxr9h:focus {
  border-color: #08adaa;
  border-color: var(--#{$prefix}border-color);
  box-shadow: none;
}

.input.svelte-1bsxr9h:focus {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}border-color);
  background-color: #fff;
}

input.svelte-1bsxr9h:focus {
  background-color: #fff;
  border-color: var(--#{$prefix}border-color);
  box-shadow: none;
}

input.svelte-1bsxr9h {
  background-color: var(--#{$prefix}theme-background-color);
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
  border-radius: 0px;
  height: 30px;
}

select.svelte-w239uu:focus + select.dummy-select.svelte-w239uu {
  border: 1px solid#08adaa;
  border-color: var(--#{$prefix}theme-color);
  box-shadow: none;
}

select.dummy-select.svelte-w239uu.svelte-w239uu {
  pointer-events: none;
  outline: none;
  border-radius: 0px;
}

.date-time-picker.svelte-w239uu.svelte-w239uu:focus {
  border: 1px solid#08adaa;
  border-color: var(--#{$prefix}theme-color);
  box-shadow: none;
}

.date-time-picker.svelte-w239uu.svelte-w239uu {
  padding: 0.5rem;
  cursor: default;
  font-size: 14px;
  border: 1px solid #cacaca;
  border-color: var(--#{$prefix}input-border-color) !important;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  transition: all 80ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cell.selected.svelte-w239uu.svelte-w239uu {
  color: #fff;
  background: #08adaa;
  background-color: var(--#{$prefix}theme-background-color);
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.cell.svelte-w239uu.svelte-w239uu {
  border-radius: 0px;
  border: 2px solid transparent;
}

.svelte-select-list.svelte-15ynnp5.svelte-15ynnp5.svelte-15ynnp5 {
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}theme-color);
}

.page-button.svelte-w239uu.svelte-w239uu {
  border-radius: 0px;
  border: 1px solid transparent;
}

.ag-select-agg-func-virtual-list-item:hover {
  //background-color: #08adaa;
  background-color: var(--#{$prefix}theme-background-color);
}

input.svelte-15ynnp5.svelte-15ynnp5.svelte-15ynnp5::placeholder {
  color: var(--placeholder-color, #000);
}

.bx--tabs__nav-item:hover:not(.bx--tabs__nav-item--selected):not(
    .bx--tabs__nav-item--disabled
  )
  .bx--tabs__nav-link {
  border-bottom: 1px solid #cacaca;
  border-bottom-color: var(--#{$prefix}input-border-color) !important;
  color: var(--#{$prefix}theme-font-color);
}

input.svelte-1vabmef {
  color: var(--#{$prefix}theme-font-color) !important;
  background-color: var(--#{$prefix}agGrid-background-color);
  border: var(--#{$prefix}agGrid-border);
  border-radius: 0px;
  height: 30px;
}

input.svelte-1vabmef:focus {
  background-color: var(--#{$prefix}agGrid-background-color);
  border: var(--#{$prefix}agGrid-border);
  border-color: var(--#{$prefix}theme-color);
  box-shadow: none;
}

.invalid.svelte-1vabmef {
  border: var(--#{$prefix}agGrid-border);
  border-color: var(--#{$prefix}input-border-color);
  background-color: #fff;
}

.invalid.svelte-1vabmef:focus {
  border: var(--#{$prefix}agGrid-border);
  border-color: var(--#{$prefix}theme-color);
  box-shadow: none;
}

.checkBoxAlign {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.headerCheckBox {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 4px;
  padding-top: 5px;
}

.header_2_CheckBox {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
  top: -50%;
  padding-left: 4px;
}

.outter {
  display: flex !important;
  flex-direction: column !important;
  width: auto;
  height: 100% !important;
  min-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  cursor: pointer;
}

.date-time-picker {
  cursor: pointer !important;
}

.bx--modal .bx--pagination,
.bx--modal .bx--pagination__control-buttons,
.bx--modal .bx--text-input,
.bx--modal .bx--text-area,
.bx--modal .bx--search-input,
.bx--modal .bx--select-input,
.bx--modal .bx--dropdown,
.bx--modal .bx--dropdown-list,
.bx--modal .bx--number input[type="number"],
.bx--modal .bx--date-picker__input,
.bx--modal .bx--multi-select {
  background-color: var(--#{$prefix}agGrid-background-color) !important;
  color: var(--#{$prefix}theme-font-color);
}

.disabled.svelte-15ynnp5.svelte-15ynnp5.svelte-15ynnp5 {
  background: var(--#{$prefix}theme-disabled-select-color);
  border-color: var(--#{$prefix}theme-disabled-backgroud-select-color);
  color: var(--#{$prefix}theme-font-color);
}

.button-normal {
  border: 1px solid #08adaa;
  border-color: var(--#{$prefix}border-color) !important;
  color: var(--#{$prefix}theme-font-color);
  background-color: var(--#{$prefix}theme-input-background-color);
  margin-bottom: 3px;
  height: 30px;
  min-height: 0rem;
  &:hover {
    color: #fff !important;
    background-color: var(--#{$prefix}button-theme-color-hover) !important;
    border: 1px solid #08adaa;
    border-color: var(--#{$prefix}border-color) !important;
  }
  &:focus {
    background-color: var(--#{$prefix}button-theme-color-hover) !important;
    color: var(--#{$prefix}theme-color);
    box-shadow: inset 0 0 0 1px #fff;
    border: 1px solid #08adaa;
    border-color: var(--#{$prefix}border-color);
  }
  &:active {
    border: 1px solid #08adaa;
    border-color: var(--#{$prefix}border-color);
    color: var(--#{$prefix}theme-color);
    background-color: var(--#{$prefix}button-theme-color-hover) !important;
  }
}
.hvr-radial-out {
  &:before {
    background-color: var(--#{$prefix}button-theme-color) !important;
  }
}
.hvr-sweep-to-right {
  &:before {
    background-color: var(--#{$prefix}button-theme-color) !important;
  }
}
.hvr-underline-from-left {
  &:before {
    background-color: var(--#{$prefix}button-theme-color) !important;
  }
}
.hvr-overline-reveal {
  &:before {
    background-color: var(--#{$prefix}button-theme-color) !important;
  }
}
.hvr-shutter-in-vercital {
  &:before {
    background-color: var(--#{$prefix}button-theme-color) !important;
  }
}

.bx--btn--primary {
  border-width: 1px;
  border-style: solid;
  border-color: var(--#{$prefix}border-color);
  background-color: var(--#{$prefix}button-theme-color);
  color: var(--#{$prefix}button-text-color);
}

.bx--btn--primary:hover {
  color: var(--#{$prefix}theme-font-color);
  background-color: var(--#{$prefix}button-theme-color-hover) !important;
}

.bx--btn--primary:focus {
  border-color: var(--#{$prefix}theme-color);
  background-color: var(--#{$prefix}button-theme-color-hover) !important;
  box-shadow: inset 0 0 0 1px #0f62fe, inset 0 0 0 2px #fff;
}

.bx--btn--primary:active {
  background-color: var(--#{$prefix}button-theme-color-hover) !important;
}

.bx--btn--primary .bx--btn__icon,
.bx--btn--primary .bx--btn__icon path:not([data-icon-path]):not([fill="none"]) {
  fill: currentColor;
}

.bx--text-area {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  width: 100%;
  min-width: 10rem;
  height: 100%;
  min-height: 2.5rem;
  padding: 0.6875rem 1rem;
  border: var(--#{$prefix}agGrid-border);
  background-color: var(--#{$prefix}theme-background-color) !important;
  color: var(--#{$prefix}theme-font-color);
  resize: vertical;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.bx--text-area:focus,
.bx--text-area:active {
  //outline: 2px solid #424242;
  outline-offset: -2px;
}
@media screen and (prefers-contrast) {
  .bx--text-area:focus,
  .bx--text-area:active {
    outline-style: dotted;
  }
}
.bx--text-area::-webkit-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}
.bx--text-area::-moz-placeholder {
  color: var(--#{$prefix}theme-font-color);
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}
.bx--text-area:-ms-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}
.bx--text-area::-ms-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}
.bx--text-area::placeholder {
  color: var(--#{$prefix}theme-font-color);
  opacity: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}
.bx--text-area--light {
  background-color: var(--#{$prefix}agGrid-background-color);
}
.bx--text-area--invalid {
  padding-right: 2.5rem;
}
.bx--text-area__wrapper {
  position: relative;
  display: flex;
  width: 100%;
}
.bx--text-area__invalid-icon {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  fill: #da1e28;
}
.bx--text-area:disabled {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background-color: #f4f4f4;
  color: #c6c6c6;
  cursor: not-allowed;
  outline: none;
}
.bx--text-area:disabled::-webkit-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area:disabled::-moz-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area:disabled:-ms-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area:disabled::-ms-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area:disabled::placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area.bx--text-area--light:disabled {
  background-color: var(--#{$prefix}agGrid-background-color);
}
.bx--text-area.bx--skeleton {
  position: relative;
  padding: 0;
  border: none;
  background: var(--#{$prefix}theme-background-color);
  box-shadow: none;
  pointer-events: none;
  height: 6.25rem;
}
.bx--text-area.bx--skeleton:hover,
.bx--text-area.bx--skeleton:focus,
.bx--text-area.bx--skeleton:active {
  border: none;
  cursor: default;
  outline: none;
}
.bx--text-area.bx--skeleton::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: 3000ms ease-in-out skeleton infinite;
  animation: 3000ms ease-in-out skeleton infinite;
  background: var(--#{$prefix}theme-background-color);
  content: "";
  will-change: transform-origin, transform, opacity;
}
@media (prefers-reduced-motion: reduce) {
  .bx--text-area.bx--skeleton::before {
    -webkit-animation: none;
    animation: none;
  }
}
.bx--text-area.bx--skeleton::-webkit-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area.bx--skeleton::-moz-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area.bx--skeleton:-ms-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area.bx--skeleton::-ms-input-placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area.bx--skeleton::placeholder {
  color: var(--#{$prefix}theme-font-color);
}
.bx--text-area__label-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.svelte-select.svelte-15ynnp5.svelte-15ynnp5.svelte-15ynnp5 {
  min-height: 30px !important;
  line-height: 30px !important;
  border-radius: 0% !important;
  font-size: 14px !important;
  cursor: pointer !important;
  border: var(--#{$prefix}agGrid-border);
  background-color: var(--#{$prefix}agGrid-background-color);
  border-color: var(--#{$prefix}theme-color);
  color: var(--#{$prefix}theme-font-color);
}

.date-picker
  > div
  > .bx--date-picker
  > .bx--date-picker-container
  > .bx--date-picker-input__wrapper
  > .bx--date-picker__input {
  color: var(--#{$prefix}theme-font-color);
}

.date-picker
  > div
  > .bx--date-picker
  > .bx--date-picker-container
  > .bx--date-picker-input__wrapper
  > .flatpickr-wrapper
  > .bx--date-picker__input {
  color: var(--#{$prefix}theme-font-color);
}

.bx--pagination-nav__page.bx--pagination-nav__page--active {
  color: var(--#{$prefix}pagination-current-page-color);
}

.svelte-select-list {
  background-color: var(--#{$prefix}select-option-bg) !important;
}

.dropdown select option {
  background-color: var(--#{$prefix}theme-background-color) !important;
  color: var(--#{$prefix}theme-font-color);
}

.bx--checkbox-label-text {
  color: var(--#{$prefix}theme-font-color);
}
