@mixin themifyList($key, $valueMap) {
  // theme list
  $themes: ux-leaf, ux-whale, ux-garden;

  @each $theme in $themes {
    :global([data-theme="#{$theme}"]) & {
      #{$key}: map-get($valueMap, $theme);
    }
  }
}

@mixin themifyListIpt($key, $valueMap) {
  // theme list
  $themes: ux-leaf, ux-whale, ux-garden;

  @each $theme in $themes {
    :global([data-theme="#{$theme}"]) & {
      #{$key}: map-get($valueMap, $theme) !important;
    }
  }
}

// ProgressBar  使用

// 不添加:global
@mixin themifyListSelf($key, $valueMap) {
  // theme list
  $themes: ux-leaf, ux-whale, ux-garden;

  @each $theme in $themes {
    [data-theme="#{$theme}"] & {
      #{$key}: map-get($valueMap, "" + $theme);
    }
  }
}

@mixin themifyListSelfIpt($key, $valueMap) {
  // theme list
  $themes: ux-leaf, ux-whale, ux-garden;

  @each $theme in $themes {
    [data-theme="#{$theme}"] & {
      #{$key}: map-get($valueMap, $theme) !important;
    }
  }
}

// body设置背景图
@mixin body-bgc() {
  $themes: ux-leaf, ux-whale, ux-garden;

  @each $theme in $themes {
    &[data-theme="#{$theme}"] {
      background: url("../../../static/uploadsys/images/sveltetheme/#{$theme}.png")
        no-repeat;
      background-size: 100% 100%;
    }
  }
}
