// mixin和原H5上传项目changeTheme文件定义一致
$theme-color: (
  ux-leaf: #08adaa,
  ux-whale: #379cdc,
  ux-garden: #547a14,
);

// 按钮特效使用
$dark-theme-color: (
  ux-leaf: scale-color(#08adaa, $lightness: -40%),
  ux-whale: scale-color(#379cdc, $lightness: -40%),
  ux-garden: scale-color(#547a14, $lightness: -40%),
);
