// mixin和原H5上传项目changeTheme文件定义一致
$theme-color: (
  green-theme: #08adaa,
  light-green-theme: #00b050,
  blue-theme: #4589ff,
  light-blue-theme: #00b0f0,
  orange-theme: #ff5722,
  dark-orange-theme: #795548,
  yellow-theme: #cddc39,
  red-theme: #f44336,
  pink-theme: #e91e63,
  purple-theme: #673ab7,
  grey-theme: #607d8b,
  dark-blue-theme: #3f51b5,
);
